export default {
  jwt: {
    headers: {
      token: 'jwt-token',
      consumer: 'jwt-consumer'
    },
    consumer: 'trainer-client',
    secret: 'this-is-the-jwt-secret-for-the-oms-trainer',
    expiresIn: 60
  },
  apiUrl: 'http://localhost:8181/api' // backend end-point, environment related
}
